@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.my-container{
    @apply  mx-auto container 
  }
  body{
    background-color: rgb(32, 32, 32);
    min-height: auto;
  }
  .custom-scrollbar-hide::-webkit-scrollbar {
    display: none;
}